<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ride Alive - Documentation</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="#">UK Motorcycle Accidents</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/heatmap">Heatmap</a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="/documentation">Documentation</a>
             </li>
          </ul>
</div>
    </nav>

    <div class="jumbotron jumbotron-fluid text-center">
       <h1 class="display-4">Ride Alive</h1>
       <p class="lead">Creating Safer Riding Experiences via A.I.</p>
       <hr class="my-4">
		<p>Arsel Vargas, David Hutchinson, Maninder Bawa, Felipe Starling</p>
		<p>Group 1 - Project 2 - Data Analytics</p>
    </div>
    <div class="container">
       <div class="row text-left">
          <div class="col-lg-6 offset-lg-3 offset-xl-2 col-xl-8">
            <p>Our goal is to create a piece of software that, using artificial intelligence, will learn from existing motorcycle drivers to improve the riding experience of the current user.&nbsp;</p>
            <p>Our initial dataset will be limited in scope, to provide proof of concept and remove liability due to privacy laws. Once the software is created, new users will be able to willingly share their data, and therefore refine the learning database our software can rely upon.&nbsp;</p>
            <p>The first step in our plan, is to identify accident prone areas within a set location. This will allow our software to “Alert” users that they are approaching a dangerous area.&nbsp;</p>
            <p>Our second step is to analize the sex and age of people from our dataset, we plan to develop a marketing strategy that targets our “higher-risk” users, while also adding a higher “weight” to variables obtained from our “lower-risk” users.&nbsp;</p>
            <p>Our data will be displayed using a geographical visual, depicting the location of motorcycle accident incidents across the United Kingdom. We also plan to incorporate a “heatmap” layer, which should highlight higher incident areas than others. Further layers will allow the filtering of age and sex of those involved within accidents. </p>
         </div>
       </div>
       <br>
       <hr>
       <br>
       <div class="row">
          <div class="col-md-4">
             <div class="card">
                <img class="card-img-top" src="../static/img/random_sample.png" alt="Card image cap">
                <div class="card-body">
                   <h4 class="card-title">Random Sample</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <br><br>
                   <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="card">
                <img class="card-img-top" src="../static/img/heatmap.png" alt="Card image cap">
                <div class="card-body">
                   <h4 class="card-title">Heatmap</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <br><br>
                   <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="card">
                <img class="card-img-top" src="../static/img/documentation.png" alt="Card image cap">
                <div class="card-body">
                   <h4 class="card-title">Documentation</h4>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <br><br>
                   <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
             </div>
          </div>
       </div>
       <br/>
       <br/>
       <div class="row">
          <div class=" col-md-4"> Click here to select this<strong> column.</strong> Always place your content within a column. Columns are indicated by a dashed blue line. </div>
          <div class="col-md-4 "> You can <strong>resize a column</strong> using the handle on the right. Drag it to increase or reduce the number of columns.</div>
          <div class="col-md-4 "> You can <strong>offset a column</strong> using the handle on the left. Drag it to increase or reduce the offset. </div>
       </div>
       <br/>
       <br/>
       <div class="row">
          <div class="col-md-6 text-center">
             <div class="card">
                <div class="card-body">
                   <h3>Adding <strong>Buttons</strong></h3>
                   <p>Quickly add buttons to your page by using the button component in the insert panel. </p>
                   <button type="button" class="btn btn-info btn-md">Info Button</button>
                   <button type="button" class="btn btn-success btn-md">Success Button</button>
                </div>
             </div>
          </div>
          <div class="text-center col-md-6">
             <div class="card">
                <div class="card-body">
                   <h3>Adding <strong>Badges</strong></h3>
                   <p>Using the insert panel, add badge to your page by using the badge component.</p>
                   <span class="badge badge-info">Info Badge</span> <span class="badge badge-danger">Danger Badge</span>
                </div>
             </div>
          </div>
       </div>
       <br>
       <hr>
       <div class="row">
          <div class="text-center col-lg-6 offset-lg-3">
             <h4>Footer </h4>
             <p>Copyright &copy; 2019 &middot; All Rights Reserved &middot; <a href="#" >My Website</a></p>
          </div>
       </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="../js/jquery-3.4.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>
  </body>
</html>
